/* Este archivo contendrá estilos específicos para todos los cantos (ej. A la Víctima Pascual) */
/* Puedes añadir sobrescrituras o estilos únicos aquí */
/* VARIABLES DE TEMA */
:root {
    --bg-page: #ffffff;
    --bg-card: #ffffff;
    --text-main: #333333;
    --text-muted: #666666;
    --border-color: #eeeeee;
    --modal-overlay: rgba(0,0,0,0.7);
    --gold-accent: #d4af37;
    --bis-color: #c6c5c59e;

}

body.dark-theme {
    --bg-page: #121212;         /* Fondo profundo */
    --bg-card: #1e1e1e;         /* Fondo de tarjetas/modales */
    --text-main: #f5f5f5;       /* Blanco suave */
    --text-muted: #b0b0b0;      /* Gris lectura */
    --border-color: #333333;    /* Bordes sutiles */
    --modal-overlay: rgba(0,0,0,0.85);
    --gold-accent: #e5c05b;     /* Dorado más vivo para contraste */

    --bis-color: #c6c5c59e;
}

/* Ejemplo: Si quieres un color de fondo diferente solo para este canto */
/* body { background-color: #f0f8ff; } */


/*1ra configuracion r1, r2 */

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}


.r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9, .r10, .r11, .r12 {position: relative;min-height: 0px;}

/*2da configuracion r1, r2 */
/* Las propiedades comunes que no dependen de media queries van aquí */
.r1::before, .r2::before, .r3::before, .r4::before, .r5::before, .r6::before, .r7::before, .r8::before, .r9::before, .r10::before, .r11::before, .r12::before
{
    content: " BIS A."; 
    position: absolute; 
    align-content: center; 
    border-left: 2px solid var(--bis-color);
    color: var(--bis-color);
    width: max-content;
    font: icon;
    font-weight: bold;
}

/*3ra configuracion r1, r2 */
@media (min-width: 384px) {.r1::before, .r2::before, .r3::before, .r4::before, .r5::before, .r6::before, .r7::before, .r8::before, .r9::before, .r10::before, .r11::before, .r12::before 
    {font-size: large;height: 93px;margin-left: 375px;margin-top: -47px;}}
@media (min-width: 768px) {.r1::before, .r2::before, .r3::before, .r4::before, .r5::before, .r6::before, .r7::before, .r8::before, .r9::before, .r10::before, .r11::before, .r12::before 
    {font-size: x-large;height: 153px;margin-left: 380px;margin-top: -42px}}
@media (min-width: 992px) {.r1::before, .r2::before, .r3::before, .r4::before, .r5::before, .r6::before, .r7::before, .r8::before, .r9::before, .r10::before, .r11::before, .r12::before 
    {font-size: x-large;height: 125px;margin-left: 366px;margin-top: -42px;}}

 .b1-1, .b1-2, .b2, .b3, .b12-1, .b12-2, .b14, .b17, .b18, .b19, .b24, .sb194
 {position: relative;min-height: 0px;}

/* ESTRUCTURA DE BIS*/

.ast91, .ast92, .ast93, .ast94, .ast95, .ast96, .alabadlo, .alabadlo1, .alabadlo2, .ast, .ast1, .ast2, .ast3, .ast4, .ast5, .ast6, .ast7, .ast8, .astd
{position: relative;min-height: 0px;}

.ast91::before, .ast92::before, .ast93::before, .ast94::before, .ast95::before, .ast96::before, .a321::before, .a322::before, .a323::before, .a324::before, .ast::before, .ast1::before, .ast2::before, .ast3::before, .ast4::before, .ast5::before, .ast6::before, .ast7::before, .ast8::before, .astd::before
{
    content: "*";
    position: absolute;
    align-content: center;
    color: red;
    width: max-content; /* Movido aquí */
    font: icon;
    font-weight: bold;
    font-size: larger;
}

.astd::before{content: "**";}

.ast91::before {    @media (min-width: 384px) {height: 40px;margin-left: 95px;margin-top: -40px;}
                    @media (min-width: 768px) {height: 40px;margin-left: 180px;margin-top: -50px;}
                    @media (min-width: 992px) {height: 40px;margin-left: 135px;margin-top: -43px;}}

.ast92::before {    @media (min-width: 384px) {height: 40px;margin-left: 222px;margin-top: -40px;}
                    @media (min-width: 768px) {height: 40px;margin-left: 417px;margin-top: -50px;}
                    @media (min-width: 992px) {height: 40px;margin-left: 313px;margin-top: -43px;}}

.ast93::before {    @media (min-width: 384px) {height: 40px;margin-left: 165px;margin-top: -40px;}
                    @media (min-width: 768px) {height: 40px;margin-left: 305px;margin-top: -50px;}
                    @media (min-width: 992px) {height: 40px;margin-left: 231px;margin-top: -43px;}}

.ast94::before {    @media (min-width: 384px) {height: 40px;margin-left: 145px;margin-top: -40px;}
                    @media (min-width: 768px) {height: 40px;margin-left: 270px;margin-top: -50px;}
                    @media (min-width: 992px) {height: 40px;margin-left: 207px;margin-top: -43px;}}

.ast95::before {    @media (min-width: 384px) {height: 40px;margin-left: 183px;margin-top: -38px;}
                    @media (min-width: 768px) {height: 40px;margin-left: 347px;margin-top: -50px;}
                    @media (min-width: 992px) {height: 40px;margin-left: 260px;margin-top: -43px;}}

.ast96::before {    @media (min-width: 384px) {height: 40px;margin-left: 128px;margin-top: -38px;}
                    @media (min-width: 768px) {height: 40px;margin-left: 237px;margin-top: -50px;}
                    @media (min-width: 992px) {height: 40px;margin-left: 183px;margin-top: -43px;}}

    @media (min-width: 384px) {.ast::before, .ast1::before, .ast2::before, .ast3::before, .ast4::before, .ast5::before, .ast6::before, .ast7::before, .ast8::before{margin-top: 5px;margin-left: 164px;}}
    @media (min-width: 768px) {.ast::before, .ast1::before, .ast2::before, .ast3::before, .ast4::before, .ast5::before, .ast6::before, .ast7::before, .ast8::before{margin-top: 15px;margin-left: 305px;}}
    @media (min-width: 992px) {.ast::before, .ast1::before, .ast2::before, .ast3::before, .ast4::before, .ast5::before, .ast6::before, .ast7::before, .ast8::before{margin-top: 9px;margin-left: 226px;}}

.alabadlo::before, .alabadlo1::before, .alabadlo2::before {
    content: "¡ALABADLO!";
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    position: absolute;
    align-content: center;
    color: black;
    width: max-content; /* Movido aquí */
    font: icon;
    font-weight: bold;
    font-size: larger;
}

    @media (min-width: 384px) {
        .alabadlo::before {font-size: 1em; height: 40px;margin-left: 230px;margin-top: -8px;}
        .alabadlo1::before {font-size: 1em; height: 40px;margin-left: 190px;margin-top: 0px;}
        .alabadlo2::before {font-size: 1em; height: 40px;margin-left: 246px;margin-top: -20px;}
            }

    @media (min-width: 768px) {
        .alabadlo::before {font-size: 1.5em;height: 40px;margin-left: 450px;margin-top: 0%;}
        .alabadlo1::before {font-size: 1.5em;height: 0px;margin-left: 410px;margin-top: 0%;}
        .alabadlo2::before {font-size: 1.5em;height: 40px;margin-left: 490px;margin-top: -2%;}
    }

    @media (min-width: 992px) {
        .alabadlo::before {height: 40px;margin-left: 65%;margin-top: 0%;}
        .alabadlo1::before {height: 40px;margin-left: 0%;margin-top: 0px;}
        .alabadlo2::before {height: 40px;margin-left: 344px;margin-top: -10px;}
        }


/* Las propiedades comunes que no dependen de media queries van aquí */
    .b1-1::before, .b1-2::before, .b2::before,
    .b3::before, .b12-1::before, .b12-2::before, .b14::before, .b17::before,
    .b18::before, .b19::before, .b19b::before, .b24::before, .b31::before
    {
        content: " BIS A."; /* Movido aquí */
        position: absolute; /* Movido aquí */
        align-content: center; /* Movido aquí */
        border-left: 2px solid #c6c5c59e; /* Movido aquí */
        color: #c6c5c59e; /* Movido aquí */
        width: max-content; /* Movido aquí */
        font: icon;
        font-weight: bold;
    }

.sb194::before {
    content: " S"; /* Movido aquí */
    position: absolute; /* Movido aquí */
    align-content: center; /* Movido aquí */
    border-left: 2px solid #c6c5c59e; /* Movido aquí */
    color: #c6c5c59e; /* Movido aquí */
    width: max-content; /* Movido aquí */
    font: icon;
    font-weight: bold;
}

/* Media queries para r1 y r2 */
@media (min-width: 384px) {
    .b1-1::before{height: 100px;margin-left: 85%;margin-top: 0%;}
    .b1-2::before{height: 60px;margin-left: 88%;margin-top: 0%;}
    .b2::before{height: 60px;margin-left: 88%;margin-top: 0%;}
    .b12-1::before {height: 55px;margin-left: 200px;margin-top: 0%;}
    .b12-2::before{height: 130px;margin-left: 230px;margin-top: -35px;}
    .b14::before{height: 55px;margin-left: 230px;margin-top: -35px;}
    .b17::before{height: 55px;margin-left: 230px;margin-top: -35px;}
    .b18::before{height: 129px;margin-left: 230px;margin-top: -35px;}
    .b19::before{height: 56px;margin-left: 163px;margin-top: -35px;}
    .b19b::before{height: 56px;margin-left: 277px;margin-top: -35px;}
    .b24::before{height: 131px;margin-left: 244px;margin-top: -35px;}
    .b31::before{height: 166px;margin-left: 244px;margin-top: -35px;}
}
@media (min-width: 768px) {
    .b1-1::before{height: 79px;margin-left: 85%;margin-top: 0%;}
    .b1-2::before{height: 60px;margin-left: 88%;margin-top: 0%;}
    .b2::before{height: 60px;margin-left: 88%;margin-top: 0%;}
    .b12-1::before{height: 90px;margin-left: 380px;margin-top: 0px;}
    .b12-2::before{height: 200px;margin-left: 410px;margin-top: -50px;}
    .b14::before{height: 90px;margin-left: 410px;margin-top: -50px;}
    .b17::before{height: 90px;margin-left: 410px;margin-top: -50px;}
    .b18::before{height: 201px;margin-left: 420px;margin-top: -50px;}
    .b19::before{height: 91px;margin-left: 300px;margin-top: -50px;}
    .b19b::before{height: 91px;margin-left: 500px;margin-top: -50px;}
    .b24::before{height: 202px;margin-left: 447px;margin-top: -50px;}
    .b31::before{height: 262px;margin-left: 447px;margin-top: -50px;}
}
@media (min-width: 992px) {
    .b1-1::before{height: 127px;margin-left: 76%;margin-top: 0%;}
    .b1-2::before{height: 80px;margin-left: 88%;margin-top: 0%;}
    .b2::before {font-size: 1.3rem;font-weight: bold;height: 73px;margin-left: 40%;margin-top: -5%;}
    .b12-1::before{height: 80px;margin-left: 285px;margin-top: 0%;}
    .b12-2::before{height: 170px;margin-left: 300px;margin-top: -45px;}
    .b14::before{height: 76px;margin-left: 300px;margin-top: -45px;}
    .b17::before{height: 76px;margin-left: 300px;margin-top: -45px;}
    .b18::before{height: 170px;margin-left: 315px;margin-top: -45px;}
    .b19::before{height: 72px;margin-left: 225px;margin-top: -42px;}
    .b19b::before{height: 72px;margin-left: 380px;margin-top: -42px;}
    .b24::before{height: 163px;margin-left: 343px;margin-top: -42px;}
    .b31::before{height: 208px;margin-left: 343px;margin-top: -42px;}
}



.b3::before {
        font-size: 1.3rem;
        font-weight: bold;
        height: 72px;
        margin-left: 76%;
        margin-top: 0%;
    }

.b3hym {
    top: -59px;
    left: 132px;
    width: fit-content;
}

.b3hm1.canto-content-wrapper.single-column-mode #canto-left-container {
    width: 768px;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
}

.ptop0 {
    padding-top: 0px;
    height: 25px;
    margin-top: 0px;

    @media (min-width: 768px){
        padding-top: 5px;
        height: 21px;
        margin-top: 5px;
    }
    @media (min-width: 992px){
        height: 19px;
    }
}

.ptop1 {
    height: 0px;
    padding-top: 0px;
    margin-bottom: -8px;
    
    @media (min-width: 768px){
        margin-bottom: 17px;
    }

    @media (min-width: 992px){
        margin-bottom: -18px;
    }

}

.sdb {padding-bottom: 10px; margin-top: -82px}

@media (min-width: 360px) {.sdb {padding-bottom: 10px; margin-top: -20px}}
@media (min-width: 384px) {.sdb {padding-bottom: 10px; margin-top: 33px}}
@media (min-width: 768px) {.sdb {padding-bottom: 10px; margin-top: -65px}}

.adb {padding-top: 30px;}      /* ↑ Arriba          ↓ */ 
.adb1 {  /* Esto es para el espacio entre lineas*/
    @media (min-width: 384px) {
        padding-top: 0px;
    }
    @media (min-width: 768px) {
        padding-top: 20px;    
    }
    @media (min-width: 992px) {
        padding-top: 0px;
    }          /* ↑ Arriba          ↓ */
}
.adb5 {padding-top: 15px;}      /* ↑ Arriba          ↓ */ 
.adb10 {padding-top: 10px;}      /* ↑ Arriba          ↓ */ 
.adb15 {padding-top: 15px;}      /* ↑ Arriba          ↓ */ 

.mheight0 {min-height: 0px;}
.mheight2 {min-height: 2px;}

.mleft {
    margin-left: 40px;
}


    @media (min-width: 384px) {
        .niño::before {
            margin-left: -30px;
            font-size: 60%;
            margin-top: 4px;
        }
    }
        @media (min-width: 768px) {
        .niño::before {
            margin-left: -78px;
            font-size: 1.4rem;
            margin-top: -3px;
        }
    }
    @media (min-width: 992px) {
        .niño::before {
            font-size: 1.23rem;
            margin-top: -4px;
            left: -71px;
        }
    }

    @media (min-width: 992px) {
        .hombres::before, .mujeres::before {
            font-size: 1.23rem;
            margin-top: 0%;
            margin-left: -100px;
        }
    }
    @media (min-width: 768px) {
        .hombres::before, .mujeres::before {
            font-size: 0.8rem;
            margin-left: -43px;
            margin-top: 20px;
        }
    }


.ndb {
    padding-right: 0%;
}

.letra[data-color] {
    color: var(--line-color, inherit);
}

.red {
    color: red inherit}

            .top1 {z-index: 999;}
            @media (min-width: 384px) {
                .sub {margin-top: -36px;} /* 384px */
            }
            @media (min-width: 768px) {
                .sub {margin-top: -23px;} /* 768px */
            }
            @media (min-width: 992px) {
                .sub {margin-top: -46px;} /* 992px */

            }


/* Estilos para el indicador de traste/transporte con icono */
.info-traste-box {
    display: none;
    align-items: center;
    color: white;
    /*padding: 2px 12px;*/
    /*margin: 8px 0;*/
    width: fit-content;
    font-family: sans-serif;

    @media (min-width: 384px) {font-size: 12px;}
    @media (min-width: 768px) {font-size: 17px;}
    @media (min-width: 992px) {font-size: 15px;}

}

.emoji-cejilla {
    background-color: white;
    color: white;
    font-size: 16px;
    margin-right: -3px;
    border-radius: 25%;
}

.acorde-referencia {
    margin-left: -4px;
    margin-right: 2px;
    color: white; /* Rojo para el acorde */
}

#traste-base, #traste-sugerido {
    color:white;
}

.flecha-cambio {
    margin: 0 8px;
    color: #bc0009;
    font-weight: bold;
}


.toolbar select, .toolbar .search-input {
}

.toolbar select {
    padding: 2px 0px;
    width: 60px;
    border-radius: 2px;
    background: var(--Titulo-SangreDeCristo);
    border: 0;
    color: white;
}

/* Estilo para la nueva imagen del icono */
.icono-cejilla-img {
    width: 20px; /* Tamaño del icono */
    height: auto; /* Mantiene la proporción */
    margin-right: 1px; /* Espacio tras la prensa */
    /* EFECTO DE RELIEVE SUTIL ( drop-shadow es mejor que box-shadow para PNGs transparentes ) */
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.3)); 
    margin-bottom: -5px;
}

.val_num {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: -3px;
}

.val_num:hover {
 border-radius: 50%;
 color: red;

}

/* BLOQUEO DE PULL-TO-REFRESH (Refresco al tirar hacia abajo) */
html, body {
    /* Esta línea es la que hace la magia: permite scroll pero bloquea el refresco */
    overscroll-behavior-y: contain;
    
    /* Asegura que el scroll sea fluido en iPhone/iPad */
    -webkit-overflow-scrolling: touch;
}


/* CSS para el modal de Salmodia*/

#salmodiaModal .modal-content {
    max-width: 400px;
    text-align: center;
}

.btn-salmodia-trigger {
    background: transparent  ;
    color: var(--Titulo-SangreDeCristo);
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.btn-salmodia-trigger:hover {
    background: var(--Titulo-SangreDeCristo);
    color: white;
}


/* Modal Salmodia*/
/* Mejora visual para el visor de imágenes de salmodia */
#salmodiaImageContainer {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}

#salmodiaImageContainer img {
    border: 1px solid #ddd;
    transition: transform 0.2s;
}

#salmodiaImageContainer img:hover {
    transform: scale(1.02); /* Un pequeño zoom al pasar el ratón */
}

/* */

#salmodiaModal .modal-content {
    max-height: 90vh !important; /* Que ocupe casi toda la pantalla si es necesario */
    overflow-y: auto !important;  /* Que permita hacer scroll si la imagen es grande */
}

#salmodiaImageContainer {
    display: block !important;
    visibility: visible !important;
    min-height: 200px; /* Forzamos un espacio */
}

.rutaImg {
    width:100%; 
    max-width:380px; 
    border-radius:5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    display:block; 
    margin:0 auto;
}

.arrow-icon { transition: 0.3s; }


.estrella {
    cursor: pointer;
    transition: transform 0.1s ease, filter 0.1s ease;
    display: inline-block;
}

.estrella:hover {
    transform: scale(1.4); /* Aumenta el tamaño */
    filter: brightness(1.5); /* Aumenta el brillo (da el efecto de sombreado/luz) */
    color: var(--Titulo-SangreDeCristo) !important;
    /*color: rgb(0, 115, 255) !important;*/
}