/* Si necesitas cargar la fuente */
@font-face {
    font-family: 'Neocat-Regular_3.0';
    src: url('/src/font/Neocat-Regular_3.0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilo del enlace original */
.dblink {
    display: inline-table;
    text-decoration: none;
    margin-top: -5px;
    /* padding: 11px 10px;
    /* color: inherit; */
    /*    
    display: block;
    text-decoration: none;
    margin-top: -11px;
    color: inherit;*/
}

.border {
    border: 1px solid goldenrod;
    padding: 5px;
}

.dblink-ac {
    position: fixed;
    display: block;
    width: 100%;
    overflow: hidden; /* Corta el texto cuando sale de la pantalla */
    white-space: nowrap;
}

.marquee-text {
    font-family: 'Neocat-Regular_3.0';
    font-size: x-large;
    color: darkgoldenrod;
    display: inline-block;
    padding-left: 100%; /* FUERZA a que el texto empiece fuera, a la derecha */
    animation: marquee 40s linear infinite; /* Ajusta los segundos según prefieras */
}

@keyframes marquee {
    0% {
        /* Empieza justo donde termina el borde derecho de la pantalla */
        transform: translateX(0); 
    }
    100% {
        /* Se mueve hacia la izquierda: 
           Su propio ancho (-100%) más el ancho de la pantalla que ya recorrió */
        transform: translateX(-100%); 
    }
}

/* Opcional: Pausa al poner el mouse */
#cantoLink:hover .marquee-text {
    animation-play-state: paused;
}

/* Estilo del modal que aparecerá */
.modal-cantos {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.contenido-cantos {
    background-color: #FFFFCC; /* Amarillo claro */
    font-family: 'Neocat-Regular_3.0', sans-serif;
    padding: 2rem;
    width: 80%;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
    font-size: x-large;
}

