    .cristo {
        position: fixed;
        align-self: flex-start;
        opacity: 0.4; /* Adjust the opacity value (0.0 - 1.0) */
    }

    body {place-self: anchor-center;}


        @media (min-width: 360px) and (max-width: 380px) {
            .cristo {width: 30%;top: 6%;}
            .container {margin-left: -12px;}
            .r1::before {height: 127px;margin-left: 240px;margin-top: 0%;}
            .top-row-controls {width: 100%;}
            .canto-content-wrapper.single-column-mode #canto-left-container {
                padding-left: 4%;
                padding-right: 0%;}
            /*body {width: 360px;} */ 
            .hombres::before {content: "H.";}
            .mujeres::before {content: "M.";}
            .hombres::before, .mujeres::before {left: -15px;top: 15px;}
            .b2::before {height: 60px;margin-left: 230px;margin-top: -36px;}
            .mt {margin-top: 0px;}
            .letra {font-size: 14px;}
        }


        @media (min-width: 384px) and (max-width: 760px) {
            .cristo {width: 30%;top: 6%;}
            .container {margin-left: 0%;}
            .r1::before {height: 127px;margin-left: 240px;margin-top: 0%;}
            .top-row-controls {width: 100%;}
            .canto-content-wrapper.single-column-mode #canto-left-container {
                padding-left: 4%;
                padding-right: 0%;}
            body {width: 384px;}
            .hombres::before {content: "H.";}
            .mujeres::before {content: "M.";}
            .hombres::before, .mujeres::before {left: -15px;top: 15px;}
            .b2::before {height: 60px;margin-left: 230px;margin-top: -36px;}

        }
        
        @media (min-width: 768px) and (max-width: 991px) {
            .cristo {width: 128px;top: 59px; left: 20px}
            .container {margin-left: 2%;}
            .r1::before {height: 211px;margin-left: 456px;margin-top: 0%;}
            body {width: 800px;}
            .hombres::before {content: "H.";}
            .mujeres::before {content: "M.";}
            .hombres::before, .mujeres::before {font-size: 1.5rem;margin-left: -18px;margin-top: 1px;}
            .b2::before {height: 104px;margin-left: 422px;margin-top: -63px;}
            .tc::before {margin-left: 0px;}
            .ta::before {margin-left: 0px;}
            .canto-content-wrapper.single-column-mode #canto-left-container {
                padding-left: 6%;
                padding-right: 0%;}

            @media (min-width: 768px) {.sdb {padding-bottom: 10px; margin-top: 40px}}

            }

        @media (min-width: 992px) {
            .cristo {width: 8em;top: 7%; left: 374px;}
            .container {margin-left: -16%;}.r1::before {height: 160px;margin-left: 335px;margin-top: 0%;}
            body {width: 992px;}
            .hombres::before {content: "Hombres:";}
            .mujeres::before {content: "Mujeres:";}
            .hombres::before, .mujeres::before {font-size: 1.0rem;left: -59px;top: 0px;}
            .b2::before {height: 72px;margin-left: 316px;margin-top: -44px;}
            .canto-content-wrapper.single-column-mode #canto-left-container {
                padding-left: 0%;
                padding-right: 0%;
                width: fit-content;
                align-items: normal;
            }
            .mt {margin-top: 12px;}

            .aleft {margin-left: 99px;}
            .top-row-controls {width: 954px;}
            .saudio {margin-left: -20px;width: 993px;height: 35px;}

            .sdb {padding-bottom: 10px;margin-top: 0px;}
        }